<h1>Edit my task</h1>
<%= form_for(@task) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :details%>
    <%= f.text_field :details %>
  </div>
  <%= f.label :completed%>
  <%= f.check_box :completed %> <br>

  <%= f.submit %>
<% end %>

<a href="/tasks">Back to list</a>
