<h1>New Task</h1>

<%= form_for(Task.new) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :details%>
    <%= f.text_field :details %>
  </div>
    
  <%= f.submit %>
  
<% end %>

<br>
<a href="/tasks">Back to list</a>
