<h1>Task details</h1>
<p><%= @task.title %></p>
<p><%= @task.details %></p>
<% if @task.completed  %>
  <p>done</p>
  <% else %>
  <p><input type="checkbox"> This task is not completed yet </p>
  <% end %>




<%= link_to("Delete", task_path(@task), method: :delete) %> <br><br>
<%= link_to("Edit my list", edit_task_path(@task)) %> <br><br>
<%= link_to("Back to list", tasks_path) %>
